/*---------- Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap');

/*----------- Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Poppins', sans-serif;
    color: #a07757;
    background-color: #F0FFFA;
}

/*---------- Styling boxes */
.start_btn,
.info_box,
.quiz_box,
.result_box {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult,
.start_btn.activeStart {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(0.9);
}

/*---------- Quiz Homepage */

#head-line {
    text-align: center;
    font-family: 'Lora', sans-serif;
    font-size: 3.5rem;
    color: #257889;
}

.hero-text {
    text-align: center;
}

.hero-text p {
    color: #a07757;
    margin: 60px;
    font-size: 1.3rem;
}

.start_btn button{
    font-size: 1.5rem;
    font-weight: 500;
    color: #F0FFFA;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #257889;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

/*----------- Info box */
.info_box{
    width: 70%;
    background: #a07757;
    border-radius: 5px;
    color: #F0FFFA;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.info_box .info-title{
    padding: 35px;
    font-size: 1.4rem;
    font-weight: 600;
    border-bottom: 2px solid #F0FFFA;
}

.info_box .info-list{
    padding: 15px 30px;
}

.info_box .info-list .info{
    margin: 5px 0;
    font-size: 1.1rem;
}

.info_box .info-list .info span{
    font-weight: 600;
    color: #7ac1d0;
}

.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid floralwhite;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    outline: none;
    border: 1px solid #257889;
    border-radius: 5px;
    color: #F0FFFA;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.buttons button.restart {
    color: #F0FFFA;
    background-color: #257889;
}

.buttons button.restart:hover {
    background: #7ac1d0;
    border-color: #7ac1d0;
}

.buttons button.quit {
    color: #257889;
}

.buttons button.quit:hover {
    color: #F0FFFA;
    background-color: #257889;
}


/*--------- Quiz box */
.quiz_box {
    width: 70%;
    background: #a07757;
    border-radius: 5px;
    color: #F0FFFA;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.quiz_box header {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    border-bottom: 2px solid #F0FFFA;
}

.quiz_box header .title{
    font-size: 1.7rem;
    font-weight: 600;
    color: #F0FFFA;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.quiz_box header .timer{
    color: #F0FFFA;
    background: #257889;
    border: 1px solid #F0FFFA;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 1rem;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: 1.1rem;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #F0FFFA;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_box section {
    padding: 25px 30px 20px 30px;
    background: #a07757;
}

.quiz_box section .que_text {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 25px;
}

.quiz_box section .option_list {
    padding: 20px 0;
    display: block;
}

.quiz_box section .option_list .option {
    border: 4px solid #F0FFFA;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.4s ease;
}

section .option_list .option:hover{
    background: #F0FFFA;
    color: #257889;
    border-color: #257889;
}

.option_list .option:last-child {
    margin-bottom: 0px;
}

.option_list .option .icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 1rem;
    line-height: 24px;
    pointer-events: none;
}

.option_list .option .icon .tick {
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}
.option_list .option .icon .cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

.option_list .option.correct {
    color : #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.option_list .option.incorrect {
    color : #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.option_list .option.disabled {
    pointer-events: none;
}

/*---------- Quiz Box Footer */

.quiz_box footer {
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box footer .total_que span {
    display: flex;
    user-select: none;
}

footer .total_que span p {
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child {
    padding-left: 0px;
}

footer .next_btn {
    display: none;
    height: 40px;
    padding: 0 30px;
    font-size: 1.2rem;
    font-weight: 400;
    border: none;
    outline: none;
    color: #F0FFFA;
    background: #257889;
    border-radius: 5px;
    border: 1px solid #257889;
    cursor: pointer;
    transition: all 0.4s ease;
    font-family: 'Poppins', sans-serif;
}

footer .next_btn:hover {
    background: #F0FFFA;
    color: #257889;
    border: 1px solid #257889;
}

/*---------- Result Box */


.result_box {
    background: #a07757;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 70%;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    color: #F0FFFA;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.result_box .icon{
    font-size: 5rem;
    color: floralwhite;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 1.5rem;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 1.3rem;
    font-weight: 500;
}
.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}
.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #a07757;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

/* ---------- Media queries */

@media screen and (max-width:660px) {
    :root {
        font-size: 55%;
    }

    .start_btn,
    .info_box,
    .quiz_box,
    .result_box {
        width: 95%;
    }
}